.container-search { /*El acho del buscador lo da este*/
    position: relative;
    /* background-color: red; */
}

.search-input {
    font-size: 1rem;
    border-radius: 20px; /*Tamaño del input	*/
    padding: 5px 5rem 5px 1rem;/*Mas esto, se suma al tamaño del input	*/
}
.search-input:focus {
    /* outline: none; */
    transition: box-shadow 0.2s ease-in-out;
    box-shadow:0px 5px 10px var(--gris-claro);
}

.container-buttons {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}   

.container-buttons .search-button,
.container-buttons .input-clearing {
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.container-buttons .search-button:hover{
    color: var(--azul);  

}
.container-buttons .input-clearing:hover {
    color: var(--rojo);
}

@media screen and (max-width: 768px) {

    .search-input {

        font-size: 12px;

        padding: 5px 4rem 5px 0.5rem;

    }
    .container-buttons {
        gap: 0.5rem;

    }
    .container-buttons .search-button,
    .container-buttons .input-clearing {
        font-size: 1.1rem;
    }
}