/*
CRUPatient
CRUProfessional
*/

.edit {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/interiorOficina.jpg");

}

.edit form {
    background-color: var(--blanco);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.320);
    display: grid;
    margin: 40px 20px;
    padding: 35px 20px;
    border-radius: 25px;
}

/*EVENTO DE VER Y EDITAR*/
#show .form,
#show .form .container-1 .codigoArea,
#show .form .select-group .nacionalidad,
#show .form .select-group .servicio {

    background-color: var(--gris-claro);
}

#edit-active .form,
#edit-active .form .container-1 .codigoArea,
#edit-active .form .select-group .nacionalidad,
#edit-active .form .select-group .servicio {

    /* transition: all 0.3s ease; */
    background-color: var(--blanco);
}



.edit .form .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.edit .form .header h2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-title);
}

.edit .form .header .icon-back {
    flex: 0;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
}


/* .edit form h2 {
    margin-bottom: 2rem;
} */

.edit form input,
.edit form select {
    outline: none;
    /* Eliminar el contorno predeterminado */
    width: 100%;
    margin: 10px 0 30px 0;
    /*Espacio entre elementos */
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.300);
}

.edit .form .container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10px
}

.edit .form .container-3 {
    display: grid;
    grid-template-columns: repeat(6, 32%);
    gap: 0 10px
}

.edit .form .container-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 10px
}

.edit .form .container-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 10px
}

.edit .form .container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*SOLO PARA CODIGO DE AREA Y TELEFONO*/
.edit .form .container-1 .codigoArea {
    border-top-right-radius: 0;
    padding: 9.5px;
    border-bottom-right-radius: 0;
}

.edit .form .container-1 .telefono {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*SOLO PARA DIAS LABORALES*/
.edit .form .container-5 .container-days-week{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit .form .container-5 .container-days-week .button-day{
    display: flex;
    justify-content: center;
    padding: 10px ;


    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
    
}
.edit .form .container-5 .container-days-week .button-day:hover{
    border: solid 1px var(--negro);

}
.edit .form .container-5 .container-days-week .button-day_active{
    display: flex;
    justify-content: center;
    padding: 10px ;


    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: var(--azul);
    color: var(--blanco);
    cursor: pointer;
}




/*---Estandarizado---*/

.container-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.edit form .btn {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.225);
    background-color: var(--violeta-crepusculo);
    color: var(--blanco);
    cursor: pointer;
    font-weight: 700;
    font-size: var(--font-size-tertiary);
}

.edit form .btn:active,
.edit form .btn:hover {
    transition: background-color 0.2s ease-in-out;
    background: linear-gradient(to right, var(--violeta), var(--violeta-crepusculo));
    color: var(--blanco);
}




/*------------------------RESPONSIVE----------------------*/

@media screen and (max-width: 850px) {
    .edit {
        height: 100%;
    }

    .edit form {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.320);
        display: grid;
        margin: 10px 5px 5px 5px;
        padding: 15px 5px 25px 5px;
    }

    .edit .form .header {
       gap: 20px;
    }
       
    .edit .form .container-1 {
        display: grid;
        grid-template-columns: 30% 1fr;
        
    }

    .edit .form .container-2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .edit .form .container-3 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

    }
    
    .edit .form .container-4 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .edit .form .container-5 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .edit .form .container-btn {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
        gap: 10px;
    }

    .edit form .btn {
        width: 30%;
    }

}