.home {
    background-color: rgb(243, 230, 255);
}

/* .home .presentation{
    height: 50%;
    background-color: rgb(93, 119, 189);
    color: yellow;
    position: relative;

}
.home .presentation .wave{
    position:absolute;
    bottom: 0%;
    left: 0;
    width: 100%;

} */

.home .main {
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem;
    padding: 2rem; */
}


.home .main .container-main .subtitle {
    font-size: 2em;
   padding-top: 1rem;
    text-align: center;
}

.home .main .container-main {
    display: grid;
      /* border: solid 1px var(--negro); */
      background: linear-gradient(rgb(243, 230, 255),rgba(173, 15, 15, 0.164));
      /* padding: 2em;*/
      gap: 1rem;
      margin-bottom: 2em;/*Para que se vea la sombra*/
      box-shadow: 0 20px 20px var(--blanco);
}

.home .main .container-main .container-infographics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

/*---COMPONENT SHIFT BAR*/
.home .main .container-main .shift-bar {
    grid-column: 1/3;
    width:  60%;
    display: flex;
    justify-self: center;
}


/*RESPONSIVE*/
@media screen and (max-width: 920px) {

    /*---COMPONENT INFOGRAPHIC------*/
    .home .main .container-main .container-infographics {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .home .main .container-main .shift-bar {
        grid-column: 1/2;
        width: 90%;
    }


}