/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}



.calendar-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
}

.calendar-weekly {
  grid-column: 3/6;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transform-origin: top left;
    height: 100%
}


.calendar-weekly header  {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 25px 30px 10px;
}
.calendar-weekly header .icons {
  width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendar-weekly header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.calendar-weekly header .icons span:last-child {
    margin-right: -10px;
}

.calendar-weekly header .icons span:hover {
    background: #f2f2f2;
}

.calendar-weekly header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar-body {
    /* width: 900px;
    max-width: 900px; */
    width: 100%;
    border-collapse: collapse;
}

.calendar-body .occupied {
    background-color: #f0f0f0;
    pointer-events: none;
    /* opacity: 0.6; */
}



.calendar-body th, .calendar-body td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

.calendar-body thead {
    background: #f2f2f2;
}

.calendar-body th:first-child, .calendar-body td:first-child {
    background: #f2f2f2;
    position: sticky;
    left: 0;
    z-index: 1;
}

.calendar-body th {
    font-weight: 600;
    padding: 5px;
}

.calendar-body td {
    height: 50px;/*Alto de cada intervalo de tiempo*/
    padding: 0;
}

.calendar-body th.active {
    background: #9B59B6;
    color: #fff;
}

.container-time-slot td button {/*tr*/
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
   
}

.time-slot:hover {
    background: #f2f2f2;
}




@media (max-width: 700px) {
    .calendar-container {
        display: grid;
        grid-template-columns:1fr;
        padding: 0 5px;
      }
      .calendar-body th, .calendar-body td {
    padding: 0px;
}


.container-time-slot td button {/*tr*/
    font-size: 0.8rem;
    padding: 2px;
   
}
.calendar-body thead tr th{
    font-weight: normal;
    padding: 4px;
    /* font-size: 10px; */
}
.container-time-slot td{
 
    padding: 2px;
}
}