
/*----------PENDING SHIFT----------*/
.pending-shift {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    border: 1px solid var(--violeta);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    gap: 5px;
    /*TODO Fijarse si queda en 18x o 5pc*/
    margin: 0 1rem;
}

.pending-shift .date-text p span {
    font-weight: 600;
    color:blue
}

.pending-shift .cancel {
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--rojo);
    border: solid 2px var(--rojo);
    
    border-radius: 10px;
    cursor: pointer;
}

.pending-shift .cancel:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}

/*-------DIARY--------*/
.diary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;

    height: 84vh;
    background-color: var(--blanco);
}

.diary .warning-text {
    text-align: center;
    color: var(--violeta);
    padding: 0 1rem;
}

.diary .container-btn {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    
    background-color: rgb(235, 235, 235);
}


.diary .close {
    display: flex;
    align-self: flex-start;
    border: none;
    color: var(--rojo);
    font-size: 2rem;
  
    margin: 1rem;
}

.diary .close:hover {
    color: white;
    cursor: pointer;
    background-color: var(--rojo);

}

