.home{
   background-color: rgb(243, 230, 255);
}

/* .home .presentation{
    height: 50%;
    background-color: rgb(93, 119, 189);
    color: yellow;
    position: relative;

}
.home .presentation .wave{
    position:absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    
} */

.home .main {
  
    
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding:2rem;
   }

.home .main .infographics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


/*RESPONSIVE*/
@media screen and (max-width: 920px){
    .home .main .infographics {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}