.container-warning {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    border-radius: 10px;
    background-color: var(--blanco);
    color: #721c24;
    border: 1px solid var(--rojo);
    /* padding: 15px;
    border-radius: 5px;#f5c6cb*/
    z-index: 1000;
}

.container-warning .warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    background-color: #ffffff;
    
    padding: 0 10px 0 10px; 
    gap: 20px;
}

.container-warning .warning .text-warning {
    text-align: center;
}

.container-warning .warning .close {
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    color: var(--rojo);
    border: solid 2px var(--rojo);
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}

.container-warning .warning .close:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}