.warning {
    position: fixed;
    top: 50%;
    right: 30%;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

.warning .text-warning {
    margin: 0;
}

.warning .close {
    background: none;
    border: none;
    font-size: 16px;
    color: #721c24;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}
