.footer .container {
    background-color: rgb(122, 114, 190);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    align-items: center;
    padding: 2rem 4rem 3rem 4rem;
}

.footer .container .map {
    width: 100%;
    height: 200px;
    /*TODO Se tiene que usar medida relativa */


}

.footer .container .map img {
    width: 100%;
    height: 100%;
}

.footer .container .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer .container .contact {
    text-align: center;
}

.footer .ad {
    text-align: center;
    background-color: var(--negro);
    padding: 2rem;
}

.footer .ad .ad-link {
    text-decoration: none;
    color: var(--blanco);
    padding: 1em;
    border-radius: 10px;
    background-color: var(--negro);
    font-weight: 700;
    transition: all 0.3s ease;
}

.footer .ad .ad-link:hover {
    border: solid 2px var(--violeta);
    background-color: black;
    color: var(--violeta);
}

@media screen and (max-width: 920px) {
    .footer .container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem;

    }

    .footer .container .info {
        margin-left: 0;
        gap: 1rem;

    }

    .footer .container .contact {
        border-top: solid 1px rgba(0, 0, 0, 0.692);
        padding-top: 2rem;
    }

    .footer .container .address {
        text-align: center;
    }


}