.navigation {

}

.navigation header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violeta-crepusculo);
    color: #fff;
    padding: 30px 20px;

}

.navigation header .menuOpen, .navigation header .menuClose {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.navigation header ul li a  {
    display: flex;
    gap: 5px;
}

.navigation header ul li a,
.navigation header .title {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;

}

.navigation header .title {
    font-size: 1.5rem;
}




.menu-icon,
.cross-icon,
.cross-icon-false {
    display: none;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
}




@media screen and (max-width: 900px) {
    .navigation header {
        padding: 15px;
        /*TODO CAMBIAR a tamaño relativo*/
    }

    .navigation header .menuOpen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 70vw;
        
        background-color:rgb(93, 87, 146);
        filter: opacity(99%);
        position: fixed;
        top: 0;
        right: 0;
        padding-left: 3em;
        gap: 3em 0;
        z-index: 1;


    }

    .navigation header .menuClose {
        display: none;


    }

    .navigation header ul li a {
       
        font-weight: 600;
    }

    .menu-icon {
        display: flex;
        color: var(--negro);

    }

    .menu-icon-false {
        display: none;
    }

    .cross-icon {
        display: flex;
        position: fixed;
        right: 1rem;
        color: black;
    }

    .cross-icon-false {
        display: none;
    }

}