/* Móvil pequeño: 360 x 640 px
Móvil medio: 375 x 667 px
Smartphone grande: 720 x 1280 px
Ordenador portátil medio: 1366 x 768 px
Ordenador de escritorio medio: 1440 x 900 px
PC de escritorio grande: 1920 x 1080 px */

:root {
  --color-base-01:rgb(122, 114, 190);
  --color-base-02:#9b59b6;
  --color-base-03: #bb88cf;

  --azul-claro: rgb(24, 167, 255);
  --azul:#007BFF;
  --azul-oscuro:#0056b3;
  --blanco:#fff;
  --celeste:#88cdfffb;
  --gris-claro:rgb(235, 235, 235);
  --color-gris-03: lightgray;
  --negro:#000;
  --verde: #0eec00;
  --violeta: #9b59b6;
  --violeta-oscuro: #613872;
  --violeta-crepusculo:rgb(122, 114, 190);
  --violeta-crepusculo-oscuro:rgb(94, 89, 145);
  --rojo:#ff3b3b;
  --rosa:rgb(243, 230, 255);
  --amarillo:rgb(255, 217, 0);
  --salmon:#FFCCCC;

  /*--- Sombra estandar ---*/
  box-shadow:0px 5px 10px var(--gris-claro);/*hacia abajo*/
  box-shadow:0px -5px 10px var(--gris-claro); /*sombra hacia arriba*/


  --font-size-title: 24px;
  --font-size-primary: 18px;
  --font-size-secondary: 16px;
  --font-size-tertiary: 14px;
  --font-size-quaternary: 12px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-simple {
  border: none;
  border-radius: 10px;
  background-color: var(--blanco);
  cursor: pointer;
  border: solid 2px var(--azul);
  color: var(--azul);
  font-weight: 800;
  /*-- Tamaño del boton --*/
  font-size: var(--font-size-secondary);
  padding: 5px 10px;
  /* font-size: 1rem; */
}
.button-simple:hover {
  background-color: var(--azul);
  color: var(--blanco);
}




/* Personalizar la barra de desplazamiento para navegadores WebKit */
::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento vertical */
  height: 7px; /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background: #bebebe; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5; /* Color de la barra de desplazamiento cuando se pasa el ratón por encima */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-track:hover {
  background: #e1e1e1; /* Color del fondo de la barra de desplazamiento cuando se pasa el ratón por encima */
}


